*{
  font-family: 'Poppins';
}
.icon{
  font-size: 25px;
}
.conOut{
  min-height: 100%;
  height: 100vh;
  padding: 6vh 0 ;
}
.centerVer{
  display: flex;
  align-items: center;
}

.conCpp{
  height: 100%;
}
.conCpp h2{
  padding: 25px 0 0 0;
}
